In [1]:
import pandas as pd
import os
from env import get_connection
import wrangle as w

In [2]:
df= w.sql_query_zillow()

In [3]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,3.0,2.0,1710.0,475000.0,1966.0,6344.67,6037.0
1,3.0,2.0,1263.0,408200.0,1977.0,5529.20,6037.0
2,3.0,3.0,2207.0,683385.0,1975.0,8426.50,6037.0
3,4.0,3.0,2732.0,740116.0,1970.0,9135.51,6037.0
4,4.0,3.0,2712.0,803000.0,1976.0,9717.48,6037.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56080 entries, 0 to 56079
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bedroomcnt                    56080 non-null  float64
 1   bathroomcnt                   56080 non-null  float64
 2   calculatedfinishedsquarefeet  55849 non-null  float64
 3   taxvaluedollarcnt             56072 non-null  float64
 4   yearbuilt                     55831 non-null  float64
 5   taxamount                     55950 non-null  float64
 6   fips                          56080 non-null  float64
dtypes: float64(7)
memory usage: 3.0 MB

In [5]:
df.describe()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
count,56080.000000,56080.000000,55849.000000,5.607200e+04,55831.000000,5.595000e+04,56080.000000
mean,3.289123,2.239470,1868.289119,4.576376e+05,1961.186778,5.589308e+03,6048.841369
std,0.958752,1.007008,966.964755,6.635536e+05,21.995312,8.541744e+03,21.237479
min,0.000000,0.000000,20.000000,9.000000e+00,1862.000000,8.300000e+00,6037.000000
25%,3.000000,2.000000,1260.000000,1.870240e+05,1949.000000,2.523483e+03,6037.000000
50%,3.000000,2.000000,1630.000000,3.295225e+05,1958.000000,4.130460e+03,6037.000000
75%,4.000000,3.000000,2217.000000,5.334408e+05,1976.000000,6.410505e+03,6059.000000
max,25.000000,20.000000,26345.000000,6.750649e+07,2016.000000,1.195296e+06,6111.000000

In [28]:
df.isna().sum()

bedroomcnt                        0
bathroomcnt                       0
calculatedfinishedsquarefeet      0
taxvaluedollarcnt                 0
yearbuilt                         0
taxamount                       130
fips                              0
dtype: int64

In [15]:
df.calculatedfinishedsquarefeet.mean()

1868.2891188741069

In [21]:
df.calculatedfinishedsquarefeet.fillna(value=1868.28, inplace=True) #fillna mean for sqft

In [25]:
df.taxvaluedollarcnt.fillna(value=4.58, inplace=True) #fillna mean for dollar

In [27]:
df.yearbuilt.fillna(value=1961.19, inplace=True) #fillna mean for yearbuilt

In [30]:
df.taxamount.fillna(value=5.59, inplace=True) #fillna mean for taxamount